@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://basehold.it/24');
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Begin site styles below */
html {
font-family: 'Roboto', sans-serif;
font-size: 1em;
line-height: 1.5em;
padding: 0.75em;
}
body {
  background-color: #ed7786;
}
#navigation {
  background-color: #2b2929;
  opacity: .8;
  top: 1.875em;
  padding: 0.937em;
  word-spacing: 6.25em;
  text-align: center;
  font-size: 1.125em;
}
#navigation li {
  display: inline;
  position: sticky;
}
a:hover {
  color: white;
  text-decoration: none;
}
a:link{
  text-decoration: none;
}
h1 {
  font-weight: 700;
  font-size: 1.625em;
}
h2 {
  padding-top: 1.25em;
  padding-bottom: 0.625em;
  font-weight: 600;
  font-size: 1.5em;
}
h3 {
  font-weight: 600;
  font-size: 18px;
}
figure{
  padding-top: 3em;
}
@media screen and (min-width: 460px) {
  html {
    padding: 15px 15% 15px 15%;
  }
}
@media screen and (min-width: 700px){
  html {
    padding: 20px 20% 20px 20%;
  }
}
@media screen and (min-width: 950px){
  html{
    padding: 25px 22% 25px 22%;
  }
}
figcaption{
  font-size: 0.8125em;
  line-height: 1em;
  padding-top: 0.3125;
}
img {
  display: block;
}
#index-para {
  padding-top: 1.5625em;
}
#kdrama-para {
  padding-top: 1.5625em;
  padding-bottom: 1.5625em;
}
.experiences {
padding-bottom: 1.25em;
}
#dramas li {
  font-weight: 600;
  padding-top: 1.25em;
}
footer {
  background-color: #2b2929;
  opacity: .8;
  padding: 0.9375em;
  bottom: 1.25em;
}
